DefaultWindow/.vs/DefaultWindow/FileContentIndex/580d25d6-fd0c-43ca-a383-38be42d59d88.vsidx
DefaultWindow/.vs/DefaultWindow/FileContentIndex/read.lock
DefaultWindow/.vs/DefaultWindow/v17/.suo
DefaultWindow/.vs/DefaultWindow/v17/Browse.VC.db
